{% extends 'base.html.twig' %}

{% block title %}Liste des moyens de paiement{% endblock %}

{% block body %}
<h1>Liste des moyens de paiement</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Moyen de paiement</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for paiement in paiements %}
        <tr>
            <td>{{ paiement.id }}</td>
            <td>{{ paiement.moyenPaiement|capitalize }}</td>
            <td style="display:flex; gap:15px">
                <a class="btn" href="{{ path('app_paiements_edit', {'id': paiement.id}) }}">Modifier</a>
                {{ include('paiements/_delete_form.html.twig') }}
            </td>

        </tr>
        {% else %}
        <tr>
            <td colspan="3">Aucun moyen de paiement enregistré</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="add_transaction_wrapper">
    <img src="{{ asset('/images/salt_arrow.svg') }}" alt="Flèche">
    <a class="btn" href="{{ path('app_paiements_new') }}">Ajouter un moyen de paiement</a>
</div>
{% endblock %}