{% extends 'base.html.twig' %}

{% block title %}Liste des catégories{% endblock %}

{% block body %}
<h1>Liste des catégories</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Categorie</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for category in categories %}
        <tr>
            <td>{{ category.id }}</td>
            <td>{{ category.nomCategorie|capitalize }}</td>
            <td>{{ category.comptabilite|capitalize }}</td>
            <td style="display:flex; gap:15px">
                <a class="btn" href="{{ path('app_categories_edit', {'id': category.id}) }}">Modifier</a>
                {{ include('categories/_delete_form.html.twig') }}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="3">Aucune catégorie enregistrée</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<div class="add_transaction_wrapper">
    <img src="{{ asset('/images/salt_arrow.svg') }}" alt="Flèche">
    <a class="btn" href="{{ path('app_categories_new') }}">Ajouter une catégorie</a>
</div>
{% endblock %}