{% extends 'base.html.twig' %}

{% block title %}Liste des transactions{% endblock %}

{% block body %}
<h1>Mes transactions</h1>
<div class="add_transaction_wrapper">
    <img src="{{ asset('/images/salt_arrow.svg') }}" alt="Flèche">
    <a href="{{ path('app_transactions_new') }}" class="btn">Ajouter une transaction</a>
</div>
<h2>Liste des transactions</h2>

<table class="table">
    <thead>
        <tr>
            <th>Montant</th>
            <th>Date</th>
            <th>Description</th>
            <th>Mode de paiement</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.montantTransaction }}</td>
            <td>{{ transaction.dateTransaction ? transaction.dateTransaction|date('d-m-Y') : '' }}</td>
            <td>{{ transaction.descriptionTransaction|capitalize }}</td>
            <td>{{ transaction.paiement|capitalize }}</td>
            <td style="display:flex; gap:15px">
                <a href="{{ path('app_transactions_edit', {'id': transaction.id}) }}" class="btn">Modifier</a>
                {{ include('transactions/_delete_form.html.twig') }}
            </td>
        </tr>
        {% else %}
        <tr>
            <td colspan="5">Aucune transaction</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

{% endblock %}