{% extends 'base.html.twig' %}

{% block title %}Transactions{% endblock %}

{% block body %}
<h1>Transactions</h1>

<table class="table">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ transaction.id }}</td>
        </tr>
        <tr>
            <th>MontantTransaction</th>
            <td>{{ transaction.montantTransaction }}</td>
        </tr>
        <tr>
            <th>DateTransaction</th>
            <td>{{ transaction.dateTransaction ? transaction.dateTransaction|date('Y-m-d') : '' }}</td>
        </tr>
        <tr>
            <th>DescriptionTransaction</th>
            <td>{{ transaction.descriptionTransaction }}</td>
        </tr>
    </tbody>
</table>

<a href="{{ path('app_transactions_index') }}">back to list</a>

<a href="{{ path('app_transactions_edit', {'id': transaction.id}) }}">edit</a>

{{ include('transactions/_delete_form.html.twig') }}
{% endblock %}